<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Selenium.hi"/>
      <class name="Selenium.Locators"/>
      <class name="Selenium.all_drivers"/>
      <class name="Selenium.all_links"/>
      <class name="Selenium.Frame"/>
      <class name="Selenium.WindowHandle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

